.backlog-menu {
    background: $mass-white;
    color: $blackish;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    .trans-button {
        @extend %trans-button;
        border-radius: 0;
        color: $blackish;
        display: inline-block;
        padding: .3rem 1.5rem;
        &.active,
        &:hover {
            background: $whitish;
            color: $gray;
        }
        &.active {
            &:hover {
                background: darken($whitish, 10%);
            }
        }
        &.move-to-sprint {
            display: none;
        }
    }
    .button-bulk {
        margin-left: .2rem;
    }
}
